{{!< default}}

 <!-- hero -->
    <section class="section valign-wrapper hero hero-1">
        <div class="center-align fullwidth white-text">
            <h3> Villas Themes </h3>
            <h1>{{data.villa.title}}</h1>
        </div>
    </section>

    <!-- villa detail -->
    <div class=" row center-align">
        <div class="col s10 offset-s1 m8 offset-m2 z-depth-1 box-info ">
            {{#each data.villa.features}}
            <div class="col s12 m4 col-info valign-wrapper">
                <div class="center-align fullwidth">
                    <i class="material-icons medium blue-text">filter_vintage</i>
                    <div class="black-text title-info">{{{features}}}</div>
                    <div class="black-text title-info">{{{name}}}</div>
                    <div class="black-text title-info">{{features}}</div>
                    <div class="black-text title-info">{{name}}</div>
                    <div class="grey-text">{{data.features.name}} f {{{ data.villa.features prefix="Posted in "}}}</div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <section class="section container white z-depth-1 wrapper-container">
        <div class="row">
            <div class="col s12 l8">
                <h5 class="grey-text">{{data.villa.title}}</h5>
                <h4 class="blue-text">{{data.villa.subtitle}}</h4>
                <p class="grey-text text-darken-2">
                    {{data.villa.longDescription}}
                </p>


                <a href="#" class="btn blue round">Enquire now</a>
                <a href="#" class="btn white round blue-text">Rates </a>

            </div>
            <div class="col s12 l3  offset-l1 blue features white-text">
                <ul>
                    {{#each feature}}
                    <li>{{feature}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>


    {{> gallery}}
    {{> testemonials}}
    {{> villasCards}}
    {{> prefooter}}